<div class="presentClass my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 my-5">
                <div class="card mb-3">
                    <img src="https://image.freepik.com/foto-gratis/hermosa-mujer-joven-sentada-banco-bebiendo-cafe-disfrutando-parque_1153-4542.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </div>
            <div class="col-md-8 col-sm-12 p-2">
                <div class="jumbotron jumbotron-fluid my-5 p-2">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <a class="btn btn-primary btn-block p-3" href="#" role="button">Learn more</a>
                  </div>
            </div>
        </div>
    </div>
</div>

