.diaClass{
    background-image: url("https://lh3.googleusercontent.com/proxy/jzFrpd3Ig4UrZFb0OYGWZWnFbxDndpSVR-wxlCkfugAAV5zcwym0EmZ6Xs3OdUzAAV5gJUAsSdhQrIQWyS9YqjXSBjv4NXrFZ9IKSi0DJTw");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}